{
  "name": "{{ name }}",
  "version": "0.0.1",
  "description": "{{ description }}",
  "private": true,
  "main": "agent/index.ts",
  "scripts": {
    "build": "frida-compile agent/index.ts -o _agent.js -c"
  },
  "devDependencies": {
    "@types/frida-gum": "^18.7.1",
    "@types/node": "^22.7.4",
    "frida-compile": "^16.4.1"
  }
}