# {{ name }}

{{ description }}

## Usage

```shell
nix build
```

## Important points
- entrypoint is `agent/index.ts`
- `nix build` builds a default package `agent` which produces a `result` output containing compiled agent script
- `nix develop` exports the `NODE_PATH` environment variable and symlinks `node_modules` so that VS Code picks up installed modules
